@font-face {
    font-family: "spider";
    src: url("../Quizz-SpiderMan/resources/font/HeroesLegend.ttf") format("truetype");
}

.perguntas{
    font-family: "spider";
}

.exibir{
    display: none;
}