@font-face {
    font-family: "Spider-Man";
    src: url("resources/font/Heroes_Legend_Hollow.ttf") format("truetype");
}

@font-face {
    font-family: "Spider-ManHQ";
    src: url("resources/font/HeroesLegend.ttf");
}

* {
    margin: 0;
    padding: 0;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    border: solid #0199bf 7.5px;
}

body{
    background-image: url("resources/imgs/Background.png");
    background-position:center;
    background-size: contain;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.corpo, .rodape, .rodape button{
    font-family: "Spider-ManHQ";
}

.cabecalho {
    font-family: "Spider-Man";
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    width: 89.9%;
    padding: 5vw 5vw 5vw 5vw;
    background-image: url("resources/imgs/Background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.titulo {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

.titulo h1 {
    width: 60%;
    margin-bottom: 2%;
    color: #d4192d;
    background-color: #FFFFFFd0;
    box-shadow: 5px 5px 15px #000000, -10px 0 #ffffff00;
    border: solid #ed1d24 5px;
    padding: 3%;
    
    
}

.titulo h2 {
    width: 60%;
    color: #0138d1;
    background-color: #FFFFFFd0;
    box-shadow: 5px 5px 15px #000000, -10px 0 #ffffff00;
    border: solid   #0077f2 5px;
    padding: 3%;

}

.corpo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.boxresp1, .boxresp2, .boxresp3, .boxresp4, .boxresp5, .boxresp6, .boxresp7, .boxresp8, .boxresp9, .boxresp10{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 5%;
    gap: 1rem;

}

.pergunta1{
    background-image: url("resources/imgs/Background1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 75%;
    padding: 5vw 5vw 5vw 5vw;
    border: solid #FFFFFF 5px;

}

.pergunta1 h3{
    padding: 3%;
    background-color: #FFFFFFd0;
    border: solid #000000 5px;

}

.pergunta1 p{
    padding: 3%;
    background-color: #FFFFFFd0;
    border: solid #000000 5px;

}

.boxresp1 input, label{
    padding: 2vw 3vw 2vw 3vw;
    background-color: #111111d0;
    box-shadow: 5px 5px 15px #000000, -10px 0 #ffffff00;
    border: solid #000000 5px;
    border-radius: 25px;
    
}

.boxresp1 label{
    padding: 2vw 3vw 2vw 3vw;
    background-color: #FFFFFFd0;
    
}

.pergunta2{
    background-image: url("resources/imgs/Background2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 75%;
    padding: 5vw 5vw 5vw 5vw;
    border: solid #FFFFFF 5px;

}

.pergunta2 h3{
    padding: 3%;
    background-color: #FFFFFFd0;
    border: solid #000000 5px;
}

.pergunta2 p{
    padding: 3%;
    background-color: #FFFFFFd0;
    border: solid #000000 5px;
}

.boxresp2 input, label{
    padding: 2vw 3vw 2vw 3vw;
    background-color: #111111d0;
    box-shadow: 5px 5px 15px #000000, -10px 0 #ffffff00;
    border: solid #000000 5px;
    border-radius: 25px;
    
}

.boxresp2 label{
    padding: 2vw 3vw 2vw 3vw;
    background-color: #FFFFFFd0;    
}

.pergunta3{
    background-image: url("resources/imgs/Background3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 75%;
    padding: 5vw 5vw 5vw 5vw;
    border: solid #FFFFFF 5px;

}

.pergunta3 h3{
    padding: 3%;
    background-color: #FFFFFFd0;
    border: solid #000000 5px;
}

.pergunta3 p{
    padding: 3%;
    background-color: #FFFFFFd0;
    border: solid #000000 5px;
}

.boxresp3 input, label{
    padding: 2vw 3vw 2vw 3vw;
    background-color: #111111d0;
    box-shadow: 5px 5px 15px #000000, -10px 0 #ffffff00;
    border: solid #000000 5px;
    border-radius: 25px;
}

.boxresp3 label{
    padding: 2vw 3vw 2vw 3vw;
    background-color: #FFFFFFd0;
    
}

.pergunta4{
    background-image: url("resources/imgs/Background4.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 75%;
    padding: 5vw 5vw 5vw 5vw;
    border: solid #FFFFFF 5px;

}

.pergunta4 h3{
    padding: 3%;
    background-color: #FFFFFFd0;
    border: solid #000000 5px;
}

.pergunta4 p{
    padding: 3%;
    background-color: #FFFFFFd0;
    border: solid #000000 5px;
}

.boxresp4 input, label{
    padding: 2vw 3vw 2vw 3vw;
    background-color: #111111d0;
    box-shadow: 5px 5px 15px #000000, -10px 0 #ffffff00;
    border: solid #000000 5px;
    border-radius: 25px;
    
}

.boxresp4 label{
    padding: 2vw 3vw 2vw 3vw;
    background-color: #FFFFFFd0;
    
}

.pergunta5{
    background-image: url("resources/imgs/Background5.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 75%;
    padding: 5vw 5vw 5vw 5vw;
    border: solid #FFFFFF 5px;

}

.pergunta5 h3{
    padding: 3%;
    background-color: #FFFFFFd0;
    border: solid #000000 5px;
}

.pergunta5 p{
    padding: 3%;
    background-color: #FFFFFFd0;
    border: solid #000000 5px;
}

.boxresp5 input, label{
    padding: 2vw 3vw 2vw 3vw;
    background-color: #111111d0;
    box-shadow: 5px 5px 15px #000000, -10px 0 #ffffff00;
    border: solid #000000 5px;
    border-radius: 25px;
    
}

.boxresp5 label{
    padding: 2vw 3vw 2vw 3vw;
    background-color: #FFFFFFd0;
    
}

.pergunta6{
    background-image: url("resources/imgs/Background6.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 75%;
    padding: 5vw 5vw 5vw 5vw;
    border: solid #FFFFFF 5px;

}

.pergunta6 h3{
    padding: 3%;
    background-color: #FFFFFFd0;
    border: solid #000000 5px;
}

.pergunta6 p{
    padding: 3%;
    background-color: #FFFFFFd0;
    border: solid #000000 5px;
}

.boxresp6 input, label{
    padding: 2vw 3vw 2vw 3vw;
    background-color: #111111d0;
    box-shadow: 5px 5px 15px #000000, -10px 0 #ffffff00;
    border: solid #000000 5px;
    border-radius: 25px;
    
}

.boxresp6 label{
    padding: 2vw 3vw 2vw 3vw;
    background-color: #FFFFFFd0;
    
}

.pergunta7{
    background-image: url("resources/imgs/Background7.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 75%;
    padding: 5vw 5vw 5vw 5vw;
    border: solid #FFFFFF 5px;

}

.pergunta7 h3{
    padding: 3%;
    background-color: #FFFFFFd0;
    border: solid #000000 5px;
}

.pergunta7 p{
    padding: 3%;
    background-color: #FFFFFFd0;
    border: solid #000000 5px;
}

.boxresp7 input, label{
    padding: 2vw 3vw 2vw 3vw;
    background-color: #111111d0;
    box-shadow: 5px 5px 15px #000000, -10px 0 #ffffff00;
    border: solid #000000 5px;
    border-radius: 25px;
    
}

.boxresp7 label{
    padding: 2vw 3vw 2vw 3vw;
    background-color: #FFFFFFd0;
    
}

.pergunta8{
    background-image: url("resources/imgs/Background8.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 75%;
    padding: 5vw 5vw 5vw 5vw;
    border: solid #FFFFFF 5px;

}

.pergunta8 h3{
    padding: 3%;
    background-color: #FFFFFFd0;
    border: solid #000000 5px;
}

.pergunta8 p{
    padding: 3%;
    background-color: #FFFFFFd0;
    border: solid #000000 5px;
}

.boxresp8 input, label{
    padding: 2vw 3vw 2vw 3vw;
    background-color: #111111d0;
    box-shadow: 5px 5px 15px #000000, -10px 0 #ffffff00;
    border: solid #000000 5px;
    border-radius: 25px;

}

.boxresp8 label{
    padding: 2vw 3vw 2vw 3vw;
    background-color: #FFFFFFd0;
    
}

.pergunta9{
    background-image: url("resources/imgs/Background9.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 75%;
    padding: 5vw 5vw 5vw 5vw;
    border: solid #FFFFFF 5px;

}

.pergunta9 h3{
    padding: 3%;
    background-color: #FFFFFFd0;
    border: solid #000000 5px;
}

.pergunta9 p{
    padding: 3%;
    background-color: #FFFFFFd0;
    border: solid #000000 5px;
}

.boxresp9 input, label{
    padding: 2vw 3vw 2vw 3vw;
    background-color: #111111d0;
    box-shadow: 5px 5px 15px #000000, -10px 0 #ffffff00;
    border: solid #000000 5px;
    border-radius: 25px;
    
}

.boxresp9 label{
    padding: 2vw 3vw 2vw 3vw;
    background-color: #FFFFFFd0;
    
}

.pergunta10{
    background-image: url("resources/imgs/Background10.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 75%;
    padding: 5vw 5vw 5vw 5vw;
    border: solid #FFFFFF 5px;

}

.pergunta10 h3{
    padding: 3%;
    background-color: #FFFFFFd0;
    border: solid #000000 5px;
}

.pergunta10 p{
    padding: 3%;
    background-color: #FFFFFFd0;
    border: solid #000000 5px;
}

.boxresp10 input, label{
    padding: 2vw 3vw 2vw 3vw;
    background-color: #111111d0;
    box-shadow: 5px 5px 15px #000000, -10px 0 #ffffff00;
    border: solid #000000 5px;
    border-radius: 25px;
    
}

.boxresp10 label{
    padding: 2vw 3vw 2vw 3vw;
    background-color: #FFFFFFd0;
    
}

.rodape {
    width: 89.9%;
    padding: 5vw 5vw 5vw 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    color: #d4192d;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.rodape button {
    padding: 2%;
    border: solid #000000 5px;
    border-radius: 25px;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
        padding: 0;
        margin: 0;
        line-height: 8vw; 
        
    }
    
    .cabecalho, .corpo {
        width: 100%;
        padding: 3vw;
        padding: 0;
    }

    .cabecalho{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .titulo h1, .titulo h2 {
        width: 80%;
        font-size: 1.3em;
    }

    .perguntas h3, .perguntas p {
        font-size: 1.3em;
        padding: 2vw;
    }

    .boxresp1, .boxresp2, .boxresp3, .boxresp4, .boxresp5, .boxresp6, .boxresp7, .boxresp8, .boxresp9, .boxresp10 {
        flex-direction: column;
    }

    .boxresp1 label, 
    .boxresp2 label, 
    .boxresp3 label, 
    .boxresp4 label, 
    .boxresp5 label, 
    .boxresp6 label, 
    .boxresp7 label, 
    .boxresp8 label, 
    .boxresp9 label, 
    .boxresp10 label {
        padding: 4vw;
        font-size: 1em;
        width: 100%;
    }

    .rodape button {
        font-size: 1.2em;
        padding: 4vw;
    }
}
